In [1]:
import pandas as pd

In [18]:
ncaa = pd.read_csv("data/ncaa-team-data-cleanCoachNames.csv")

In [3]:
ncaa[ncaa['coach'] == "None"]

,Unnamed: 0,school,conf,rk,w,l,srs,sos,pts_for,pts_vs,pts_total,ap_pre,ap_high,ap_final,pts_diff,ncaa_result,ncaa_numeric,season,year,coach
9962,9962,louisiana-lafayette,Southland,43,0,0,NaN,NaN,NaN,NaN,NaN,30,30,30,NaN,NaN,0,1974-75,1974,None
9963,9963,louisiana-lafayette,Southland,44,0,0,NaN,NaN,NaN,NaN,NaN,30,30,30,NaN,NaN,0,1973-74,1973,None

In [4]:
courses = pd.read_csv("data/testudo_fall2020.csv")

In [5]:
courses.columns

Index(['code', 'title', 'description', 'prereqs', 'credits', 'prereq_type',
       'area'],
      dtype='object')

In [6]:
def winrate(row):
    return row['w'] / (row['w'] + row['l'])

In [20]:
ncaa = ncaa[ncaa['coach'] != "None"]

In [21]:
ncaa['winrate'] = ncaa.apply(winrate, axis=1)

In [22]:
ncaa.head()

,Unnamed: 0,school,conf,rk,w,l,srs,sos,pts_for,pts_vs,...,ap_pre,ap_high,ap_final,pts_diff,ncaa_result,ncaa_numeric,season,year,coach,winrate
0,0,air-force,MWC,1,12,21,-2.99,1.08,73.1,75.1,...,30,30,30,-2.0,NaN,0,2016-17,2016,Dave Pilipovich,0.363636
1,1,air-force,MWC,2,14,18,-5.51,0.66,68.4,72.8,...,30,30,30,-4.4,NaN,0,2015-16,2015,Dave Pilipovich,0.437500
2,2,air-force,MWC,3,14,17,-1.85,-0.71,65.7,65.1,...,30,30,30,0.6,NaN,0,2014-15,2014,Dave Pilipovich,0.451613
3,3,air-force,MWC,4,12,18,-4.08,1.71,66.0,69.1,...,30,30,30,-3.1,NaN,0,2013-14,2013,Dave Pilipovich,0.400000
4,4,air-force,MWC,5,18,14,4.18,4.28,70.0,67.8,...,30,30,30,2.2,NaN,0,2012-13,2012,Dave Pilipovich,0.562500

In [44]:
coach_winrates = ncaa.groupby("coach", as_index=False).agg(
    winrate=("winrate", "mean"),
    # totalwins=("w", "sum"),
    # totallossess=("l", "sum")
)
coach_winrates

                coach   winrate
0       A. V. Barrett  0.540097
1        A.A. Gillian  0.190476
2          A.A. Mason  0.700000
3     A.B. Williamson  0.573192
4         A.D. Browne  0.538462
...               ...       ...
3366   Yancey Goodall  0.500000
3367        Zac Roman  0.100000
3368      Zach Spiker  0.450804
3369      Zeke Martin  0.475000
3370   Zora Clevenger  0.692140

[3371 rows x 2 columns]

In [45]:
top5 = coach_winrates.sort_values(by="winrate", ascending=False, kind="mergesort")[:5]

In [46]:
bottom5 = coach_winrates.sort_values(by="winrate", ascending=True, kind="mergesort")[:5]

In [31]:
list(coach_winrates[coach_winrates['winrate'] == 1.0]['coach'].values)

['C.I. Freeman',
 'George Denman',
 'George Spaulding',
 'Grinnell Jones',
 "Gus O'Conner",
 'Henry Rose',
 'Howard Ray',
 'Jerry Desmond',
 'Jim Flanagan',
 'Laurence Wild',
 'Louis Wenzell',
 'M.P. Burroughs',
 'Orin Kates',
 'R.E. Edmonds',
 'S.A. Tennison',
 'T.P. Hewitt']

In [32]:
list(coach_winrates[coach_winrates['winrate'] == 0.0]['coach'].values)

['C.C. Childs',
 'Charles Burden',
 'Dean Cromwell',
 'Doc Fletcher',
 'Dudy Noble',
 'Elwood Romney',
 'F. Knight',
 'F.E. Scofield',
 'F.G. Carter',
 'George Walker',
 'Harry Gilligan',
 'Harry Rhodes',
 'Henry Pratt',
 'J.B. Andrews',
 'J.H. Brown',
 'Jeff Mangold',
 'Jim Browning',
 'Peggy Swope',
 'Squint Hunter',
 'W.S. Milligan',
 'W.T. Cook',
 'Walter Winslow',
 'Will Bryan',
 'William Gardiner']

In [47]:
with open('data/ncaa-report.txt', 'w') as f:
    f.write("Top 5 coaches by winrate:")
    f.write("\n")
    f.write(top5.to_string())
    f.write("\n\n")
    f.write("Bottom 5 coaches by winrate:")
    f.write("\n")
    f.write(bottom5.to_string())