In [4]:
import pandas as pd

In [29]:
laptops = pd.read_csv("data/laptop_prices.csv", encoding="ISO-8859-1")
# laptops = pd.read_csv("data/laptop_prices.csv")
laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [30]:
laptops['kg'] = laptops['Weight'].apply(lambda x: float(x.replace("kg", "")))

In [31]:
weight_by_company = laptops.groupby("Company", as_index=False).agg(
    avg_weight=('kg', "mean"),
)
weight_by_company

      Company  avg_weight
0        Acer    2.166893
1       Apple    1.320476
2        Asus    2.220196
3       Chuwi    1.726667
4        Dell    2.147040
5     Fujitsu    2.233333
6      Google    1.100000
7          HP    1.911314
8      Huawei    1.050000
9          LG    1.050000
10     Lenovo    2.002290
11        MSI    2.660556
12   Mediacom    1.337143
13  Microsoft    1.251333
14      Razer    2.195714
15    Samsung    1.315556
16    Toshiba    1.640208
17       Vero    1.330000
18     Xiaomi    1.620000

In [32]:
lightest_5 = weight_by_company.sort_values(by="avg_weight")[:5]

lightest_5

      Company  avg_weight
9          LG    1.050000
8      Huawei    1.050000
6      Google    1.100000
13  Microsoft    1.251333
15    Samsung    1.315556

In [33]:
heaviest_5 = weight_by_company.sort_values(by="avg_weight", ascending=False)[:5]

heaviest_5

    Company  avg_weight
11      MSI    2.660556
5   Fujitsu    2.233333
2      Asus    2.220196
14    Razer    2.195714
0      Acer    2.166893

In [34]:
with open("laptop-report.txt", "w") as f:
    f.write("Top 5 companies with the heaviest average weight of laptops:")
    f.write("\n")
    f.write(heaviest_5.to_string())
    f.write("\n\n")
    f.write("Top 5 companies with the lightest average weight of laptops:\n")
    f.write("\n")
    f.write(lightest_5.to_string())

In [35]:
weight_by_company.to_csv("laptop-weights-by-company.csv")